body {
    font-family: Arial, sans-serif;
    background-color: #fcf7b5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tema{
    margin: 20px;
    margin-left: 0;
    background-color: rgb(180, 213, 240);
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.16);
}

#container {
    background-color: rgb(180, 213, 240);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 75%;
    box-sizing: border-box;
    display: flex;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #003ab6;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border: 2px solid #003ab6;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

button:active{
    background-color: #003ab600;
    border: 2px solid #003ab6;
    color: #003ab6;
}

#main {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
    text-align: center;
}

#extras {
    display: flex;
    width: 55%;
    box-sizing: border-box;
    padding: 0;
}



.extra{
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    height: 100%;
    background-color: #263881;
    text-align: center;
    border: 1px solid;
    margin: 0;
    padding: 20px 20px 0 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}


.extra.a{
    background-color: rgb(255, 198, 198);
}

.extra.b{
    background-color: rgb(219, 255, 198);
}
.extra.c{
    background-color: #fcf7b5;
}

svg{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

